/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  /* height: 100vh; */
  background: linear-gradient(
    200.96deg,
    #a4278f -29.09%,
    #613158 51.77%,
    #1f0e27 129.35%
  );
  font-family: sans-serif;
  font-size: small;
  overflow: hidden;
}

.container {
  /* width: 100vw; */
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 440;
  overflow: hidden;
}

.search-bar {
  /* height: 10vh; */
  width: 100%;
  display: flex;
  background-color: #f4f4f4;
  border-radius: 4px;
  height: 50px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #007BFF;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.panels {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 10px auto;
  color: white;
  height: calc(100vh - 80px);
}

.left-panel,
.right-panel {
  /* flex: 1; */
  /* background-color: #f4f4f4; */
  border: 1px solid #6d2d82;
  border-radius: 4px;

}

.left-panel {
  padding: 20px;
  width:20%;
  overflow-y: auto;
  background-color: hsla(304, 36%, 68%, 0.344);
}

.left-pannel, .label{
  font-weight: bold;
  font-size: .9em;
  color: #b0b0b0;
}

.right-panel {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 22%, 80%, 0.4);
}

.item{
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.05);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item:hover{
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.clipboard-word{
  padding: 10px;
  min-height: 100px;
  z-index: 1;
  border-bottom: 4px solid #613158;
}

.clipboard-info{
  display: flex;
  justify-content: space-between;
  border-bottom: #0056b3;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  /* height: 100%; */
}

.clipboard-info .details{
  font-weight: bold;
  color: #ffffff;
}

.clipboard-info .heading{
  font-size: 1.2em;
  font-weight: bold;
  color: #d7a5ce;
}
